################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Checkbox
/RadioButton/.vs/RadioButton
/RadioButton/RadioButton/RadioButton/bin/Debug/netstandard2.0
/RadioButton/RadioButton/RadioButton/obj
/RadioButton/RadioButton/RadioButton.Android/bin/Debug
/RadioButton/RadioButton/RadioButton.Android/obj
/RadioButton/RadioButton/RadioButton.iOS/bin/iPhone/Debug
/RadioButton/RadioButton/RadioButton.iOS/obj
/RadioButton/RadioButton/RadioButton.UWP/bin/x86/Debug
/RadioButton/RadioButton/RadioButton.UWP/obj
